nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
}

nav h1 {
  margin-left: 2rem;
}

nav li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
  margin: 0 2rem;
}

nav a {
  padding: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.active {
  border-radius: 2rem;
  background: var(--background-color-2);
}

.lupa {
  position: absolute;
  top: 1.6rem;
  right: 5rem;
  width: 3rem;
}
