.resultado {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  padding: 2rem;
}
.resultado-texto {
  margin: 0 2rem;
}
.resultado-texto h3 {
  font-size: var(--title4);
}
.resultado-texto p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.resultado img {
  width: 15rem;
}

.resultado:hover {
  border: 1px solid gainsboro;
  border-radius: 1rem;
}
